*
{
    box-sizing: border-box;
}
body
{
    height: 100px;
    padding: 0px;
    margin: 0px;
    background: radial-gradient(circle, #f0f0f0, #d0d0d0 );
}
#container
{
    height: 450px;
    width: 550px;
    background-color: #8ed0ee;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
}
#score
{
    background-color: yellow;
    color: #888e5f;
    padding: 10px;
    position: absolute;
    left: 440px;
    box-shadow: 0px 4px 0px 0px #9da853;
}
#correct
{
    background-color: #42e252;
    color: #888e5f;
    padding: 10px;
    position: absolute;
    left: 225px;
    display: none;
}
#wrong
{
    background-color: red;
    color: white;
    padding: 10px;
    position: absolute;
    left: 225px;
    box-shadow: 0px 4px 0px 0px #e18080;
    display: none;
}
#question
{
    width: 450px;
    height: 150px;
    font-size: 100px;
    background-color: #ed6abb;
    text-align: center;
    margin: 50px auto 10px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 4px 0px 0px #b61390;
}
#instruction
{
    width: 450px;
    height: 30px;
    background-color: #8481d9;
    margin: 10px auto;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 4px 0px 0px #8153a8;
}
#choice
{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}
.box
{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right:36px ;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,2);
    text-align: center;
    line-height: 80px;
    position: relative;
    font-size: large;
    transition: all.2s;
}
#box4
{
    margin-right: 0px;
}
#startreset
{
    width: 150px;
    padding: 10px;
    background-color: rgba(255,255, 255, .5);
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,.2);
}
#timeremaining
{
    width: 150px;
    height: 45px;
    background-color: rgba(181,235,36,.8);
    position: absolute;
    top: 390px;
    text-align: center;
    left: 390px;
    border-radius: 3px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,.2);
    display: none;
}
#gameover
{
    height: 200px;
    width: 500px;
    background: linear-gradient(#f3ca6b, #f3706c);
    color: white;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 100px;
    text-transform: uppercase;
    left: 30px;
    display: none;
}
.box:hover,#startreset:hover
{
    background-color: #9c89f6;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,.5);
    cursor: pointer;
}
.box:active,#startreset:active
{
    background-color: #7a6adf;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.5);
}
